{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "last 2 Chrome versions"
        },
        "useBuiltIns": "usage",
        "debug": true
      }
    ]
  ]
}
