{
  "{.storybook,app,internals,jquery,server,stories}/**/*.{js,jsx}": [
    "yarn precommit:fmt:js",
    "git add",
    "yarn precommit:lint:js",
    "git add"
  ],
  "{app/components,scss}/**/*.{css,scss}": [
    "yarn precommit:fmt:css",
    "yarn precommit:lint:css"
  ],
  "*.json": [
    "yarn precommit:lint:json",
    "git add",
    "yarn precommit:fmt:json",
    "git add"
  ]
}
