/**
*
* {{ properCase name }}
*
*/

import React from "react";
import PropTypes from "prop-types";

{{#if wantMessages}}
import messages from "./messages";
{{/if}}

function {{ properCase name }}({{#if wantMessages}}{ i18n }{{/if}}) {
  return (
    <div>
    {{#if wantMessages}}
      {i18n(messages.header)}
    {{/if}}
    </div>
  );
}

{{ properCase name }}.propTypes = {
{{#if wantMessages}}
  i18n: PropTypes.func.isRequired
{{/if}}
};

export default {{ properCase name }};
